.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;
}

.leftpanel {
  width: 300px;
  max-height: 100%;
  background: linear-gradient(rgb(116, 138, 255) 0%, rgb(64, 87, 211) 100%);
  padding: 10px;
  overflow-y: auto;
}

.leftpanel::-webkit-scrollbar {
  width: 15px;
}

.leftpanel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid #ddd;
}

.rightpanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  overflow-y: auto;
}

.accordion_content_item {
  margin: 5px 0px;
  cursor: default;
}

.accordion_content_text {
  font-size: 12px;
  line-height: 14px;
  color: rgb(12, 50, 125);
  display: flex;
  align-items: center;
  gap: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 15px;
  gap: 10px;
  background-color: #ddd;
  border-radius: 15px;
  font-size: 16px;
  margin: 10px 0;
  box-shadow: 2px 2px #959393;
}

.welcome_text {
  color: #111;
  font-weight: bold;
  font-size: 22px;
  margin: 0;
}

.subtitle_header {
  color: #111;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin: 0px;
  line-height: 1.4;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.leftpanel_inner,
.rightpanel_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  padding: 15px;
  margin: 0px;
}

.profile_pic {
  object-fit: cover;
  border-radius: 20%;
}

.pic_col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  margin: 0px;
}

.text_col {
  width: 70%;
}
